@mixin cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

@mixin coverdiv($pos) {
  position: $pos;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin vcenter($pos) {
  position: $pos;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin center($axis) {
  @if $axis == both {
    @include vcenter;
  } @else if $axis == h {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  } @else if $axis == v {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    @content;
  }
}

@mixin scrollbar-track {
  &::-webkit-scrollbar-track {
    @content;
  }
}

@mixin scrollbar-thumb {
  &::-webkit-scrollbar-thumb {
    @content;
  }
}

@mixin scrollbar-track-piece {
  &::-webkit-scrollbar-track-piece {
    @content;
  }
}

@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url('../fonts/#{$file_name}.woff2') format('woff2'),
      url('../fonts/#{$file_name}.woff') format('woff');
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@mixin stroke-link {
  position: relative;
  display: block;
  transition: color 0.6s $easing;
  svg path {
    transition: stroke 0.6s $easing;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: -3px;
    width: 0%;
    height: 1px;
    left: 0;
    right: auto;
    pointer-events: none;
    background-color: var(--accent);
    transition: width 0.6s $easing;
  }
  @include media('>#{$br2}') {
    &:hover {
      color: var(--accent);
      &::after {
        width: 100%;
        right: 0;
        left: auto;
      }
      svg path {
        stroke: var(--accent);
      }
    }
  }
}
