:root {
  --black: #130f10;
  --accent: #27ae60;
  --lg: #f5f5f5;
  --g: #dbdbdb;
  --red: #e73737;
}

//screen config
$maxWidth: 1920;
$minWidth: 375;

//breakpoints
$uls: 2100px;
$ls: 1440px;
$br1: 1200px;
$br2: 960px;
$br3: 768px;
$br4: 460px;

//fonts
$def-size: size(20, 16);

//easings
$easing: cubic-bezier(0.22, 1, 0.36, 1);

// layouts
$g-offset: size(160, 20);
$g-offset2: size(320, 40);
$v-padding: size(300, 120);
$v-margin: size(80, 32);
