.form {
  margin: 0 auto;
  margin-top: 60px;
  width: 800px;
  position: relative;
  &.loading {
    .form__btn-text {
      opacity: 0;
      visibility: hidden;
    }
    .form__btn-loader {
      opacity: 1;
      visibility: visible;
    }
  }
}

.input-container {
  position: relative;
  width: 100%;
  margin-top: 80px;
}

.input {
  background-color: transparent;
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  line-height: 1em;
  font-size: inherit;
  transition: border-color 0.3s ease;
  &:focus,
  &.js-focus {
    border-color: var(--accent);
    ~ .label {
      transform: translateY(-20px);
      font-size: 14px;
      color: var(--accent);
    }
  }
  &.error {
    border-color: var(--red);
    ~ .input-validate {
      opacity: 1;
      visibility: visible;
    }
    ~ .label {
      color: var(--red);
    }
  }
}

.form__length-counter {
  position: absolute;
  right: 0;
  font-size: 14px;
}

.label {
  position: absolute;
  left: 0;
  top: 0;
  line-height: 1em;
  pointer-events: none;
  transition: font-size 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

.input-validate {
  color: var(--red);
  font-size: 14px;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  position: absolute;
}

textarea {
  border: none;
  resize: none;
  border-radius: 0;
  line-height: normal;
  overflow-y: hidden;
  padding: 0px;
  margin: 0;
  min-height: 3rem;
  outline: none;
  padding-top: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}

.form__btn {
  float: right;
  margin-top: 40px;
  background-color: var(--accent);
  color: white;
  padding: 20px 40px;
  position: relative;
  transition: opacity 0.2s ease;
  &:hover,
  &:focus {
    .btn__overlay {
      transform: translateY(0%);
      border-radius: 0%;
    }
  }
}

.btn__overlay {
  background-color: white;
  opacity: 0.2;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  transform: translateY(110%);
  border-radius: 40%;
  transition: transform 0.5s cubic-bezier(0.16, 1, 0.3, 1),
    border-radius 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

.form__btn-text {
  position: relative;
  z-index: 1;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}
