.form {
  width: 100%;
  position: relative;
  &.loading {
    .form__btn-text {
      opacity: 0;
      visibility: hidden;
    }
    .form__btn-loader {
      opacity: 1;
      visibility: visible;
    }
  }
  &.error {
    .form__error-message {
      margin-top: 40px;
      height: var(--h);
    }
  }
}

.input-container {
  position: relative;
  width: 100%;
  + .input-container {
    margin-top: size(36, 32);
  }
}

.input {
  background-color: white;
  width: 100%;
  padding: 24px 20px;
  border-radius: 5px;
  line-height: 1em;
  font-size: inherit;
  @include reg;
  transition: border-color 0.3s ease;
  &:focus,
  &.js-focus {
    ~ .label {
      opacity: 0;
      transform: translate(20px, -50%);
    }
  }
  &.error {
    border-color: var(--red);
    ~ .input-validate {
      opacity: 1;
      visibility: visible;
    }
    ~ .label {
      color: var(--red);
    }
  }
}

.form__length-counter {
  position: absolute;
  right: 0;
  font-size: 14px;
}

.label {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 1em;
  pointer-events: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.input-validate {
  color: var(--red);
  font-size: 14px;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  position: absolute;
}

textarea {
  border: none;
  resize: none;
  border-radius: 0;
  line-height: normal;
  overflow-y: hidden;
  padding: 0px;
  margin: 0;
  min-height: 160px;
  outline: none;
  padding-top: 10px;
  ~ .label {
    transform: translateY(0px);
    top: 20px;
  }
  &:focus,
  &.js-focus {
    ~ .label {
      transform: translate(20px, 0px) !important;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--black);
  box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}

.form__btn {
  float: right;
  margin-top: 40px;
  background-color: var(--accent);
  color: white;
  padding: 20px 40px;
  position: relative;
  transition: opacity 0.2s ease;
  &:hover,
  &:focus {
    .btn__overlay {
      transform: translateY(0%);
      border-radius: 0%;
    }
  }
}

.btn__overlay {
  background-color: white;
  opacity: 0.2;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  transform: translateY(110%);
  border-radius: 40%;
  transition: transform 0.5s $easing, border-radius 0.5s $easing;
}

.form__btn-text {
  position: relative;
  z-index: 1;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

.form__error-message {
  background: white;
  color: var(--red);
  width: 100%;
  margin-top: 0px;
  overflow: hidden;
  height: 0px;
  border-radius: 5px;
  transition: height 0.4s ease, margin-top 0.4s ease;
}

.form__error-message-text {
  margin: 10px 20px;
}
