.production {
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  @include media('<=638px') {
    flex-direction: column;
  }
}

.production__item {
  position: relative;
  height: size(528, 290);
  background-color: white;
  display: flex;
  padding: size(44, 20) size(52, 20);
  flex-direction: column;
  justify-content: space-between;
}

.production__img {
  display: block;
  max-height: size(260, 160);
}

.production__item-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include media('<=#{$br4}') {
    margin-top: 40px;
  }
}

.production__name {
  @include stroke-link;
  cursor: pointer;
}

.production__link {
  svg {
    max-height: 100%;
    height: size(14, 9);
  }
}
