    <section class='section cta'>
      <div class='container section__container full-container last'>
        <div class="full-container__left">
          <div class="cta__content">
            <h2 class="h2">Бажаєте придбати птицю або дичину?</h2>
            <div class="cta__text">
              <p>Залиште заявку або одразу пишіть на пошту чи до зручного месенджеру. Ми зв’яжемося з вами, розповімо більше про продукцію, допоможемо вибрати м’ясо та зробити замовлення.</p>
            </div>
          </div>
        </div>
        <div class="full-container__right cta__container-right">
          {% include "partials/_form.html" %}
        </div>
      </div>
    </section>