{% macro btn(text, selector, data) %}
  <button {{data|safe}} class="btn {{selector}}">
    <span class="btn__text">{{text}}</span>
    <span class="btn__overlay"></span>
  </button>
{% endmacro %}

{% macro link(text, selector, data, href = "#") %}
  <a {{data|safe}} href="{{href}}" class="btn {{selector}}">
    <span class="btn__text">{{text}}</span>
    <span class="btn__overlay"></span>
  </a>
{% endmacro %}

{% import "partials/svg/_button-svg.html" as content %}

{% macro circleLink(selector, href = "#", type = 'arrow') %}
  <a class="circle-link {{selector}}" href="{{href}}">
    <span class="circle-link__circle"></span>
    {% if type === 'arrow' %}
    {{content.arrow() | safe}}
    {% elif type === 'fb' %}
    {{content.fb() | safe}}
    {% elif type === 'insta' %}
    {{content.insta() | safe}}
    {% endif %}
  </a>
{% endmacro %}