{% set 'chevron' = '<svg width="13" height="7" viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11.6561 1L6.65607 6L1.65607 1" stroke="black" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
</svg>' %}

<div class="navbar">
  <div class="container navbar__container">
    <a href="#" class="logo navbar__logo"><img src="./img/logo.png" alt="logo"></a>
    <nav data-move="navbar__mobile-nav,1,960" class="navbar__nav">
      <ul class="navbar__ul">
        <li class="navbar__li dropdown-btn">Продукція {{chevron|safe}}</li>
        <li class="navbar__li"><a href="#">Про компанію</a></li>
        <li class="navbar__li"><a href="#">Контакти</a></li>
      </ul>
      <a href="tel:+380502552772" class="navbar__phone">+38 (050) 255 27 72</a>
    </nav>
    <button aria-label="navigation" class="navbar__burger">
      <span class="navbar__burger-line navbar__burger-line--1"></span>
      <span class="navbar__burger-line navbar__burger-line--2"></span>
      <span class="navbar__burger-line navbar__burger-line--3"></span>
    </button>
  </div>
  <div class="navbar__mobile-nav"></div>
</div>