.home-header {
  height: var(--vh);
  width: 100%;
  position: relative;
  @include media('<=#{$br2}') {
    min-height: var(--vh);
    height: auto;
  }
}

.home-header__container {
  @include media('<=#{$br2}') {
    flex-direction: column-reverse;
    padding-top: 4em;
    padding-right: 0px;
  }
}

.home-header__img-wrapper {
  height: 100%;
  width: 100%;
}

.home-header__container-left {
  transform: translateX(-100%);
  overflow: hidden;
  @include media('<=#{$br2}') {
    height: 50vh;
    min-height: 500px;
    margin-top: 52px;
    width: 100%;
  }
  @include media('<=#{$br4}') {
    min-height: 350px;
  }
}

.home-header__container-right {
  @include media('<=#{$br2}') {
    height: auto;
    width: 80%;
  }
  @include media('<=#{$br3}') {
    width: 100%;
  }
}

.home-header__parallax-wrapper {
  height: 100%;
  transform: translateX(100%) scale(1.2);
}

.home-header__img {
  height: 100%;
  width: 100%;
}

.home-header__content {
  max-width: 26em;
  @include media('<=#{$br2}') {
    max-width: none;
  }
}

.home-header__descriptor {
  transform: translateY(150px);
  display: block;
  opacity: 0;
}

.home-header__h1 {
  margin-top: 12px;
  transform: translateY(150px);
  opacity: 0;
}

.home-header__btn {
  margin-top: size(52, 32);
  transform: translateY(150px);
  opacity: 0;
}

.our-product__btn {
  margin-top: size(40, 24);
}

.about-product__container {
  margin-top: $v-margin;
}

.about-product__img {
  padding-bottom: toimg(1016, 382);
  height: 0px;
  @include media('<=#{$br3}') {
    padding-bottom: 60%;
  }
}

.about-product__items {
  margin-top: $v-margin;
  border-radius: 5px;
  background-color: white;
}

@mixin bb {
  border-bottom: 1px solid var(--g);
  &:last-child {
    border-color: transparent;
  }
}

.about-product__li {
  padding: size(40, 20) size(52, 20);
  line-height: 1.5em;
  font-size: size(30, 20);
  @include bb;
}

.advantages__ul {
  margin-top: $v-margin;
  background-color: #fff;
  border-radius: 5px;
}

.advantages__li {
  padding: size(52, 32) size(52, 20) !important;
  @include bb;
}

.advantages__count {
  @include mono;
  font-size: size(80, 24);
  color: var(--g);
  line-height: 1em;
}

.advantages__text {
  font-size: size(30, 20);
  line-height: 1.5em;
}

.about-company__text-content {
  display: flex;
  @include media('<=#{$br3}') {
    flex-direction: column;
  }
}

.about-company__text {
  width: 50%;
  flex: 0 1 50%;
  + .about-company__text {
    margin-left: size(60, 40);
    @include media('<=#{$br3}') {
      margin-left: 0;
      margin-top: 32px;
    }
  }
  @include media('<=#{$br3}') {
    width: 100%;
  }
}

.about-company__btn {
  margin: 0 auto;
  margin-top: $v-margin;
  @include media('<=#{$br4}') {
    margin-left: 0;
    margin-right: 0;
  }
}

.partnership__container {
  align-items: center;
}

.partnership__img {
  padding-bottom: toimg(960, 641);
  @include media('<=#{$br1}') {
    padding-bottom: 100%;
  }
  @include media('<=#{$br1}') {
    padding-bottom: toimg(960, 641);
  }
}

.partnership__text {
  margin-top: size(40, 32);
  p + p {
    margin-top: size(32, 24);
  }
}

.partnership__btn {
  margin-top: size(40, 32);
}

.partners__items {
  margin-top: $v-margin;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  @include media('<=#{$br2}') {
    grid-template-columns: repeat(2, 1fr);
  }
  @include media('<=#{$br3}') {
    grid-template-columns: repeat(1, 1fr);
  }
}

.partners__li {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  height: size(240, 150);
  img {
    max-width: 100%;
    display: block;
    width: size(192, 162);
  }
}

.our-product__container {
  @include media('<=#{$br1}') {
    flex-direction: column;
  }
}

.our-product__container-right {
  width: 100%;
  margin-left: 0px;
  margin-top: size(40, 32);
}

.about-company__container {
  @include media('<=#{$br1}') {
    flex-direction: column;
  }
}

.about-company__container-right {
  width: 100%;
  margin-left: 0px;
  margin-top: size(40, 32);
}
