.production-header__container {
  min-height: var(--vh);
}

.production-header__container {
  padding-top: size(160, 96);
}

.production-header__content {
  max-width: 565px;
}

.production-header__h1 {
  margin-top: 12px;
}

.production-header__text {
  margin-top: 32px;
}

.production-header__production {
  margin-top: size(60, 32);
}

.production-header__production-item {
  flex: 0 0 33.3%;
  width: 33.3%;
  &::after {
    content: '';
    position: absolute;
    display: block;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 80%;
    background-color: var(--g);
  }
  &:last-child,
  &:nth-child(3n) {
    &::after {
      display: none;
    }
  }
  @include media('<=638px') {
    width: 100%;
    &::after {
      height: 1px;
      width: 90%;
      transform: translateX(-50%);
      left: 50%;
      top: auto;
      right: auto;
      bottom: 0;
    }
    &:nth-child(3n) {
      &::after {
        display: block;
      }
    }
  }
}
