{% include "partials/_head.html" %}
{% import "partials/_mixins.html" as mixins %}
<body data-lang="ru" class="e-fixed">
  <noscript>
    <div class="js-enable">Please enable JavaScript to view this website.</div>
  </noscript>
  <!-- BEGIN content -->
  {% include "partials/_loader.html" %}
  {% include "partials/_navbar.html" %}
  <div id="scroll-container" class="site-wrapper" data-router-wrapper>
    <div data-current-lang="Ru" data-translate-urls="http:/localhost:8080,http:/localhost:60" data-router-view="{% if route %}{{ route }}{% else %}Template{% endif %}">
      {% block content %}{% endblock %}
      <!-- END content -->
    </div>
  </div>
  <!-- BEGIN scripts -->
    <script src="./js/runtime-app.c6e4b074.js"></script> 
    <script src="./js/vendors~app.59fe4421.chunk.js"></script> 
    <script src="./js/app.4aeda870.chunk.js"></script>
    <!-- END scripts -->

</body>
</html>