{% include "partials/_head.html" %}
{% import "partials/_mixins.html" as mixins %}
<body class="e-fixed">
  <noscript>
    <div class="js-enable">Please enable JavaScript to view this website.</div>
  </noscript>
  <!-- BEGIN content -->
  {% include "partials/_navbar.html" %}
  <div id="scroll-container" class="site-wrapper" data-router-wrapper>
    <div data-router-view="{% if route %}{{ route }}{% else %}Template{% endif %}">
      {% block content %}{% endblock %}
      <!-- END content -->
    </div>
  </div>
  <!-- BEGIN scripts -->
    <script src="./js/runtime-app.b092a633.js"></script> 
    <script src="./js/vendors~app.cf73e11d.chunk.js"></script> 
    <script src="./js/app.b34cabd5.chunk.js"></script>
    <!-- END scripts -->

</body>
</html>