.h1,
.h2 {
  @include reg;
  font-size: size(80, 42);
  line-height: 1.25em;
  text-transform: uppercase;
  margin-top: -0.25em;
}

.h3 {
  @include reg;
  font-size: size(40, 24);
  line-height: 1em;
}

.h4 {
  @include medium;
  font-size: size(24, 18);
  line-height: 1.5em;
}

.descriptor {
  text-transform: uppercase;
  display: inline-block;
  font-size: size(16, 14);
  @include medium;
}

.lw {
  max-width: 50vw;
  @include media('<=#{$br2}') {
    max-width: none;
  }
}

.sw {
  max-width: 584px;
  @include media('<=#{$br2}') {
    max-width: none;
  }
}
