.container {
  padding-left: $g-offset;
  padding-right: $g-offset;
  width: 100%;
  position: relative;
  &.nm {
    padding-left: 0;
    padding-right: 0;
  }
  &.flex {
    display: flex;
    justify-content: space-between;
  }
}

.section__container {
  padding-top: $v-padding;
  &.last {
    padding-bottom: $v-padding;
  }
}

.container__left--grid {
  width: 36.6%;
  flex: 0 1 36.6%;
}

.container__right--grid {
  width: 63.4%;
  flex: 1 0 63.4%;
  margin-left: size(60, 40);
}
