.container {
  padding-left: $g-offset;
  padding-right: $g-offset;
  width: 100%;
  position: relative;
  &.nm {
    padding-left: 0;
    padding-right: 0;
  }
  &.flex {
    display: flex;
    justify-content: space-between;
  }
}

.section__container {
  padding-top: $v-padding;
  &.last {
    padding-bottom: $v-padding;
  }
}

.container__left {
  width: 36.6%;
  flex: 0 1 36.6%;
}

.container__right {
  width: 63.4%;
  flex: 1 0 63.4%;
  margin-left: size(60, 40);
}

.full-container {
  display: flex;
  height: 100%;
}

.full-container--no-left-margin {
  padding-left: 0;
}

.full-container--no-right-margin {
  padding-right: 0;
}

.full-container__left {
  flex-grow: 1;
  flex-shrink: 0;
  width: 50vw;
  height: 100%;
}

.full-container__right {
  height: 100%;
  flex-grow: 0;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 168px;
  width: calc(100% - 50vw);
}
