* {
  &::selection {
    color: white;
    background: var(--accent);
  }
}

body {
  @include reg;
  color: var(--black);
  background-color: var(--lg);
  line-height: 1.5em;
  font-size: $def-size;
  height: var(--vh);
  overflow: hidden;
  padding-left: 100px;
}

.e-fixed {
  overflow: hidden;
  overflow-x: auto;
  .scrollbar:not(.block-scrollbar) {
    display: none;
  }
  #scroll-container {
    overflow: hidden;
    overflow-x: auto;
  }
}

#scroll-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin: auto;
}

.img {
  @include cover;
}

.bs-item {
  margin-top: size(200, 100);
  font-size: size(48, 28);
  color: #333;
  line-height: 1.5em;
}

.bs-item__container {
  padding-left: $g-offset2;
}

.bs-item__text {
  max-width: 648px;
}
