* {
  &::selection {
    color: white;
    background: var(--accent);
  }
}

body {
  @include reg;
  @include smooth-font;
  color: var(--black);
  background-color: var(--lg);
  line-height: 1.5em;
  font-size: $def-size;
  height: 100vh;
  height: var(--vh);
  overflow: hidden;
}

.e-fixed {
  overflow: hidden;
  overflow-x: auto;
  .scrollbar:not(.block-scrollbar) {
    display: none;
  }
  #scroll-container {
    overflow: hidden;
    overflow-x: auto;
  }
}

#scroll-container {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  height: var(--vh);
}

/* Hide scrollbar for Chrome, Safari and Opera */
#scroll-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.img {
  @include cover;
}

.bs-item {
  margin-top: size(200, 100);
  font-size: size(48, 28);
  color: #333;
  line-height: 1.5em;
}

.bs-item__container {
  padding-left: $g-offset2;
  @include media('<=#{$ls}') {
    padding-left: size(120, 20);
  }
}

.bs-item__text {
  max-width: 648px;
  @include media('<=#{$br2}') {
    max-width: size(1548, 305);
  }
}

.sticky {
  position: sticky;
  top: 110px;
}

.parallax-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

[data-i] {
  transform: translateY(150px);
  opacity: 0;
}

[data-img='-1'] {
  transform: translateX(-100%);
  overflow: hidden;
}

[data-img='1'] {
  transform: translateX(100%);
}
